body{
        background-image: url('back1.jpg');
        width: 100%;    
        background-attachment: fixed;
        position: relative;
        z-index: 0;
    }

    .up-lab {
        color: white;
        font-size: 40px;
        width: 50%;
        z-index: 1;
        padding:20px ;
        margin-top: 40px;

    }

    .tx-in{
        margin: 20px;
        padding: 30px;
        width: 50%;
        background-color: white;
        border-radius: 15px;
    }

    h1{
        color: white;
        text-align: center;
        text-shadow: 2px 2px black;

    }

    h3{
        color: white;
        text-align: center;
        text-shadow: 2px 2px black;
    }


    #btn-sub{
        margin: 90px 250px;
        border-radius: 10px;
        width: 80px;
        height: 30px;

    }

