	*{
		background-image: url('back1.jpg');
		width: 100%;	
		background-attachment: fixed;
		position: relative;


	}

	#top {
		color: white;
		height: 60px;
		text-align: center;
		font-size: 50px;
		font-family: algerian;

	}

	#rightside{
		float: left;
		width: 70%;
		padding: 10px;
		color: white;
	}

	#sidebar{
		float: right;
		width: 15%;
		padding-right: 60px;

	}

	#button{
		border-radius: 25px 25px 25px 25px;
		height: 40px;
		font-size: 50;
		padding-bottom: 30%;
		cursor: pointer;



	}
	#button h1 {
		color: #D6F359;
		text-shadow: 2px 2px black;	
	}

	.fix-me{
	position: fixed;
	bottom: 230px;
	left: 20px;
	
	color: #02D6AC;
	text-shadow: 1px 1px black;
	font-size: 20px;
}

